doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Not Found
  body 
    div(style="display: flex; justify-content: center; align-items: center; height: 100vh; flex-direction: column;")
      h1 Not Found
      p The page you are looking for doesn't exist or has been moved.
      a(href="/api/pug/signIn") Go Back